.input{
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    font-weight: bold;
    font-size: 1.3em;
    background-color: black;
    color: rgb(255, 140, 0);
    padding: .5em;
    outline: 4px solid rgb(0, 0, 0);

}